window {
    background-color: rgba(30, 31, 28, 0.85);
    border: 1px solid #ae81ff;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}

#input {
    background-color: #414339;
    color: #f8f8f2;
    border: none;
    border-radius: 0;
    padding: 8px 12px;
    margin: 8px;
}

#inner-box {
    margin: 0 8px 8px 8px;
}

#outer-box {
    margin: 0;
    padding: 0;
}

#entry {
    padding: 6px 8px;
}

#entry:selected {
    background-color: #3e3d32;
    outline: 1px solid #ae81ff;
}

#text {
    color: #f8f8f2;
}

#entry:selected #text {
    color: #a6e22e;
}

image {
    margin-right: 8px;
}
